<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_challange_wall_path(@challange_wall) %> |
<% end %>
<%= @challange_wall.title %> 
<br>
<%= link_to 'Back', root_path %>
