<center>
<p id="notice"><%= notice %></p>


<h1>Challange Walls - to ma być z tego co rozumiem karuzela z kategoriami</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @challange_walls.each do |challange_wall| %>
      <tr>
        <td><%= link_to challange_wall.title, challange_wall %></td>
          <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_challange_wall_path(challange_wall) %></td>
          <td><%= link_to 'Destroy', challange_wall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</center>
